/* Adding a dark-light switch, from
   https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8. kinda
   neat, and maybe i'll do more design, someday. @tamouse
   2019-04-27T06:41:59-0500 */

/* set some CSS variables at the document root: */
:root {
  --font-color: #000;
  --bg-color: #FFF;
}
/* and now the dark-mode colors: */
[dark-theme="dark"] {
  --font-color: #FFF;
  --bg-color: #000;
}

body {
  margin: 10px auto;
  width: 70%;
  font-family: sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--font-color);
}
blockquote {
  font-style: italic;
  border-left: 5px solid #999;
  padding-left: 1em;
}
figure img {
  max-width: 100%;
}
pre.src {
  overflow: auto;
  background-color: var(--font-color);
  color: var(--bg-color);
}
a,
a:hover,
a:visited,
a:active{
  color: var(--font-color);
  text-decoration: underline;
}
a:hover {
  background-color: #d9dc33;
}
